{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    body {
        background-repeat: no-repeat;
        background-color: #003f5c;

    }
    h1
    {
        margin-top: 30px;
        font-size: 90px;
        color: #fb5b5a;
        font-family: Trebuchet MS, sans-serif;
        text-align: center;
    }
    input
    {
        height: 50px;
        width: 300px;
    }
    form
    {
        margin-top: 60px;
    }
    ::placeholder
    {
        padding: 20px;
        color: #003f5c;
    }
.pwd, .email
    {
        border-radius: 35px;
    background-color: #465881;
    border-color: #465881;
    border:none;
    width: 200px;
    }
    .btn
    {
        border-radius: 35px;
        background-color: #fb5b5a;
        color: white;
        margin-top: 100px;
    }
</style>

    <div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">

                            </br>

                            <button class="btn btn-primary btn-lg">
                                Logout
                            </button>

                        </a>

                    </div>


            </div>
        </div>
    </div>
{% else %}

    <body>
    <div class="container">
        <div class="col-md-12 mx-auto text-center">
        </div>
        <a href="/">
        <button class="btn" type="submit">
            Retourner a l'accueil
        </button>
        </a>
        <h1>Connexion</h1>
        <div class="row">

            <div class="col-md-4 mx-auto">
                <div class="myform form ">
                    <form action="" method="post" name="login">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="form-group">
                            <input class="email" type="email" placeholder="Email..." value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" style="width:350px; display:block; margin:auto" required
                                   autofocus>
                        </div>

                        <input class="pwd" type="password" placeholder="Password..." name="password" id="inputPassword" class="form-control"
                               style="width:350px; display:block; margin:auto;" required>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <button class="btn col-6 offset-3" type="submit">
                            Connexion
                        </button>

                    </form>

                </div>
            </div>
        </div>
    </div>
    </body>






    {% endif %}
{% endblock %}
