{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">

                            </br>

                            <button class="btn btn-primary btn-lg">
                                Logout
                            </button>
                        </a>

                    </div>

                {% endif %}
            </div>
        </div>
    </div>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <body>
    <div class="container">
        <div class="col-md-12 mx-auto text-center">
        </div>
        <h1 style="text-align:center;margin-top: 200px; font-family:Oswald">CONNECTEZ-VOUS</h1>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="myform form ">
                    <form action="" method="post" name="login">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="inputPassword" style="margin-top: 50px; font-family:Oswald;">Login</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" style="width:350px; display:block; margin:auto" required
                                   autofocus>
                        </div>
                        <label for="inputPassword" style="margin-top: 50px; font-family:Oswald;">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               style="width:350px; display:block; margin:auto;" required>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-primary col-6 offset-3" style="margin-top: 50px" type="submit">
                            Se connecter
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}



{% endblock %}
