{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <style>
        body {

            background-repeat: no-repeat;
            background-color: #003f5c;
            height: 100%;
        }
        tr
        {
            color: #fb5b5a;
        }
        .table td
        {
            border:none;
        }
        h1
        {
            text-align: center;
            color: #fb5b5a;
        }
        .page
        {
            width: 100%;
        }
        .list-group-item {
            background-color: #003f5c;
            color: #fb5b5a;
            border: none;
            margin-top: 30px;
            width: 200px;
        }
        .fixed-top
        {
            margin-top: 20px;
        }
        .crea
        {
            margin-top: 20px;
        }
        .btn
        {
            color: #fb5b5a;
            bacbackground-color: "#465881"
        }

    </style>
    <h1>
        Articles
    </h1>

    <div class="d-flex" id="wrapper">
        <div class="mb-3">
            <div class="list-group list-group-flush">
                <a href="{{ path('admin') }}" class="list-group-item list-group-item-action ">Accueil</a>
                <a href="{{ path('user_index') }}" class="list-group-item list-group-item-action ">Utilisateur</a>
                <a href="{{ path('blog_index') }}" class="list-group-item list-group-item-action ">Blog</a>
                <a href="{{ path('user_stat_index') }}" class="list-group-item list-group-item-action ">Statistiques</a>
                <div class="crea col-12">
                    <button class="btn btn-primary btn-lg">
                        <a href="{{ path('user_new') }}">Créer un nouveau</a>
                    </button>
                </div>

            </div>
        </div>
        <div class="fixed-top col-6">
            <a href="{{ path('app_logout') }}">
                <button class="btn btn-primary btn-lg">
                    Logout
                </button>
            </a>
        </div>

         <div class="container">
            <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>CreatedAt</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for blog in blogs %}
                    <tr>
                        <td>{{ blog.id }}</td>
                        <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ blog.title }}</td>
                        <td>{{ blog.description }}</td>
                        <td>{{ blog.image }}</td>
                        <td>
                            <button type="button" class="btn btn-primary">
                            <a href="{{ path('blog_show', {'id': blog.id}) }}">Détails</a>
                            </button>
                            <button type="button" class="btn btn-primary">
                            <a href="{{ path('blog_edit', {'id': blog.id}) }}">Modifier</a>
                            </button>
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        </div>




    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            {% endblock %}


