{% extends 'base.html.twig' %}

{% block title %}UserStat index{% endblock %}

{% block body %}
    <h1>UserStat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>MoneyEconomised</th>
                <th>CigarettesSaved</th>
                <th>LifetimeSaved</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_stat in user_stats %}
            <tr>
                <td>{{ user_stat.id }}</td>
                <td>{{ user_stat.date ? user_stat.date|date('Y-m-d') : '' }}</td>
                <td>{{ user_stat.moneyEconomised }}</td>
                <td>{{ user_stat.cigarettesSaved }}</td>
                <td>{{ user_stat.lifetimeSaved }}</td>
                <td>{{ user_stat.title }}</td>
                <td>
                    <a href="{{ path('user_stat_show', {'id': user_stat.id}) }}">show</a>
                    <a href="{{ path('user_stat_edit', {'id': user_stat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_stat_new') }}">Create new</a>
{% endblock %}
