{% extends 'base.html.twig' %}

{% block title %}UserStat{% endblock %}

{% block body %}
    <h1>UserStat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_stat.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ user_stat.date ? user_stat.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MoneyEconomised</th>
                <td>{{ user_stat.moneyEconomised }}</td>
            </tr>
            <tr>
                <th>CigarettesSaved</th>
                <td>{{ user_stat.cigarettesSaved }}</td>
            </tr>
            <tr>
                <th>LifetimeSaved</th>
                <td>{{ user_stat.lifetimeSaved }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ user_stat.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_stat_index') }}">back to list</a>

    <a href="{{ path('user_stat_edit', {'id': user_stat.id}) }}">edit</a>

    {{ include('user_stat/_delete_form.html.twig') }}
{% endblock %}
