{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 margin-tb">
                <div class="pull-left">
                    <h1>Modifier les Utilisateurs </h1>
                </div>

            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Role</th>
                <th>Date de création</th>
                <th width="280px">Action</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email}}</td>
                    <td>{{ user.fullName}}</td>
                    <td>{{ user.roles.1}}</td>
                    <td>{{ user.createdAt |date('d-m-Y') }}</td>
                    <td>
                        <form action="" method="POST">
                            <a href="{{ path('admin') }}" class="fa fa-search btn btn-primary mr-5 ml-4"></a>
                            <a href="{{ path('admin') }}" class="fa fa-edit btn btn-secondary mr-5"></a>
                            <a href="{{ path('admin') }}" class="fa fa-trash btn btn-danger"></a>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pull-right">
            <a class="btn btn-success"> Créer une nouvelle utilisateur</a>
        </div>
    </div>

{% endblock %}
