{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<style>
    body {

        background-repeat: no-repeat;
        background-color: #003f5c;
        margin-top: 50px;
    }
    tr
    {
        color: #fb5b5a;
    }
    .table td
    {
        border:none;
    }
    .list-group-item
    {
        background-color:#003f5c;
        color: #fb5b5a;
        border: none;
    }
</style>
<div class="d-flex" id="wrapper">


    <div class=" border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            <a href="{{ path('user_index') }}" class="list-group-item list-group-item-action t">Utilisateur</a>
            <a href="{{ path('blog_index') }}" class="list-group-item list-group-item-action ">Blog</a>
            <a href="" class="list-group-item list-group-item-action ">Statistiques</a>
            <button type="button" class="btn btn-dark">
            <a href="{{ path('user_new') }}">Create new</a>
            </button>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 margin-tb">
                <div class="pull-left">
                    <h1>Modifier les Utilisateurs </h1>
                </div>




    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>CreatedAt</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-dark">
                    <a href="{{ path('user_show', {'id': user.id}) }}">Show</a>
                    </button>
                        <button type="button" class="btn btn-dark">
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                        </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
