{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<<<<<<< HEAD
    <div class="container">
        <div class="row">
            <div class="col-lg-12 margin-tb">
                <div class="pull-left">
                    <h1>Modifier les Utilisateurs </h1>
                </div>

            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Role</th>
                <th>Date de création</th>
                <th width="280px">Action</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email}}</td>
                    <td>{{ user.fullName}}</td>
                    <td>{{ user.roles.1}}</td>
                    <td>{{ user.createdAt |date('d-m-Y') }}</td>
                    <td>
                        <form action="" method="POST">
                            <a href="{{ path('admin') }}" class="fa fa-search btn btn-primary mr-5 ml-4"></a>
                            <a href="{{ path('admin') }}" class="fa fa-edit btn btn-secondary mr-5"></a>
                            <a href="{{ path('admin') }}" class="fa fa-trash btn btn-danger"></a>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pull-right">
            <a class="btn btn-success"> Créer une nouvelle utilisateur</a>
        </div>
    </div>

=======
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" >
            <img src="images/stop.jpg" alt="C'est un logo pour arrêter de fumer lol" class="center-block" style="width: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">

            <ul class="navbar-nav mr-auto" style="font-size:20px;">
                <li class="nav-item">
                    <a class="nav-link" href="/article"> Article <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistiques">Statistiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/motivation">Motivation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faits">Faits</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" href="/connection" class="btn btn-primary btn-lg">
                    Connection
                </button>

    </span>
        </div>
    </nav>
>>>>>>> master
{% endblock %}
